snippet fig "description"
![${1:${VISUAL:Anchor}}](.img/${2:${VISUAL:insert-filename-here}}.${3:${VISUAL:png}})
endsnippet

snippet html "HTML Code Block"
\`\`\`html

$0

\`\`\`

endsnippet

snippet sh "Shell Code Block"
\`\`\`sh

$0

\`\`\`

endsnippet

snippet py "Python Code Block"
\`\`\`python

$0

\`\`\`

endsnippet

snippet table "HTML table"
<table>

</table>
endsnippet
